<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Selecciona</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>
    <div>
        <h2>A quién visitas hoy?</h2>
    </div>

    <!-- <div class="input-field col s12">
        <select>
          <optgroup label="Greener Co.">
            <option value="1">Laura Ruiz</option>
            <option value="2">Osvaldo López</option>
          </optgroup>
          <optgroup label="Casa de Diseño">
            <option value="3">Carlos Juárez</option>
            <option value="4">Julieta Vale</option>
          </optgroup>
        </select>
        <label>Selecciona empresa y anfitrión</label>
      </div> -->

    <div class="selector">
        <select name="hosts-list" class="host-name" id="trigger-alert">
            <option value="">Selecciona anfitrión …</option>
            <option value="Laura">Laura Ruiz</option>
            <option value="Jimena">Jimena Sánchez</option>
            <option value="Juan">Juan Carlos Bodoque</option>
            <option value="Carlos">Carlos Benítez</option>
        </select>
    </div>

    <script src="../js/select.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->
</body>
</html>