body{
    background-color: #D8DCDB;
}

h2 {
    font-family: 'Roboto' sans-serif;
    text-align: center;
}

.selector{
    display: inline-block;
    margin-left: 40%;
};

.canvas {
    width: 100%;
    height: 100%;
}

.btn{
    background-color: grey;
    color: #D8DCD8;
}

/* #enviar{
    margin-left: 30%;

} */

#player{
    width: 50%;
    height: 50%;
    border-radius: 40%;
}

#snapshot{
    width: 50%;
    height: 50%;
    border-radius: 40px;
}

.admin{
margin-left: 40%;
}

footer {
    color: #231F20;
    font-family: ;
    text-align: right;

}